@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root,
[data-theme="light"]{
    --primary: #0D3B3A;
    --secondary: #48B3AF;
}

@theme {
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  };

  --animate-marquee-auto:marquee 4s linear infinite;
}

@theme inline{
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
}

@utility animate-marquee-auto {
  display: inline-flex;
  white-space: nowrap;
  animation: var(--animate-marquee);
  animation-play-state: running;
}

/* Cara paling aman di v4: gunakan nesting selector langsung */
@utility animate-marquee {
  white-space: nowrap;
  display: inline-flex;
  animation: marquee 4s linear infinite;
  animation-play-state: paused;

  /* Menargetkan parent dengan class .group saat di-hover */
  .group:hover & {
    animation-play-state: running;
  }
}

